*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "montserrat";
}
body{
    background: #333;
}
.middle{
    position: absolute;
    top: 10;
    left: 50%;
    transform:translate(-10%, -50%);
}
.CardM{
    cursor: pointer;
    width: 250px;
    height: 250px;
}
.Front{
    width: 250px;
    height: 250px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.Back{ 
    width: 250px;
    height: 250px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;

}

.Front img{
height: 250px;
width: 250px;

}
.Back img{
    height: 250px;
    width: 250px;
    filter: blur(5px);    

}
.Front{
    
    border-radius: 15%;
    box-shadow: 0px 0px 15px 6px #A259FF;


    
    transform: perspective(600px)rotateY(0deg);
}

.Back{
    filter: grayscale(40%);

    box-shadow: 0px 0px 15px 6px #A259FF;

    border-radius: 20%;
    background-color: blueviolet;
    transform: perspective(600px)rotateY(180deg);
}
.CardM:hover> .Front{
    
    transform: perspective(600px)rotateY(-180deg);

}
.CardM:hover> .Back{
    transform: perspective(600px)rotateY(0deg);

}
.cadrss{

    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}

.na{
    position:absolute;
    color: white;
    background-color: #333;
    height: 50px;
    width: 100%;
    bottom: 0;
    opacity: 0.8;
}

.cadrss2{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
h1{
    font-size: xx-large;

    margin: 85px 0px 0px 0px;
    color: aliceblue;
}
.h{
    font-size: xx-large;
    margin: 70px 0px 0px 0px;
    color: aliceblue;

}
.discripshon{
    font-size: xx-large;

}
.head-text {
    position: relative;
 }
 .text-on-image {
   position:absolute;
   left: 30%;
   bottom: 30%;
   color: rgb(255, 255, 255);
   filter: grayscale(50%);
 }



 